<%= render 'shared/errors', obj: @article %>

<div class="row mt-1">
    <%= form_for @article do |f| %>
        <div class="mb-4 row">
            <div class="col-sm-2">
                <%= f.label :title, class: "col-form-label" %>
            </div>
            <div class="col-sm-10">
                <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true%>
            </div>
        </div>
        <div class="mb-4 row">
            <div class="col-sm-2">
                <%= f.label :description, class: "col-form-label" %>
            </div>
            <div class="col-sm-10">
                <%= f.text_area :description, class: "form-control", placeholder: "Description of title", rows: 10 %>
            </div>
        </div>
        <div class="mb-4 row">
            <div class="offset-sm-2 col-sm-10">
                <%= f.submit class: "btn btn-primary btn-lg" %>
            </div>
        </div>

    <% end %>
    <div class="col-sm-4 offset-sm-4">
        [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
    </div>
</div>
